.menubar{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    position: absolute;
    z-index: 300;
    color: grey;
    font-size: 1.8rem;
    background-color: rgba(255, 255, 255, 0.055);
    cursor: default;
}

.menubar div{
    margin: 5px 15px;
}

.menubar .selected{
    color:rgba(255, 217, 0, 0.788)
}