:root {
  --primary-color: rgb(36, 36, 36);
}

* {
  box-sizing: border-box;
}

html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("../imgs/background.png");
  margin: 0px;
  padding: 0px;
}

.page {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.carrousel-items::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  height: 0px;
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  margin: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .carrousel {
    height: 35%;
  }
}

#total-results-block,
#total-bookmarks-block {
  height: 80px;
  padding: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  margin-top: 40px;
}

#total-results-block > *,
#total-bookmarks-block > * {
  margin: 0;
  padding: 0;
}

#total-results-block .field,
#total-bookmarks-block .field {
  color: grey;
  font-size: 1rem;
}

.empty-space {
  min-height: 90px;
  width: 100%;
}

img {
  width: auto;
  height: 100%;
}

#zoom-area {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  padding: 100px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 100;
  position: absolute;
  overflow-y: hidden;
  overflow-x: hidden;
}

#zoom-area__close-button {
  margin: 10px;
  cursor: pointer;
}
